/*one*/
p.ex1 {
	background-color: #33e70f;
	min-height: 130px;
}
/*tow*/
.container2 img{
	/*absolute for stick somthing to some where*/
	position: absolute;
	top: 210px;
	left: 200px;
	height: 50px;
	width: 50px;
	z-index: -1;
}
/*three*/
.container3 ul li.active a .icon {
	color: red;
}
/*four*/
.container4 p {
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transform: translate(200px,10px) rotate(16deg) scale(.5, .5) scaleY(2) scaleX(2); /* Standard syntax */
  /*-ms-transform: translate(10px,10px); /* IE 9 */
}

