/*one*/
p.ex1 {
	background-color: #33e70f;
	min-height: 130px;
}
/*tow*/
.container2 img{
	/*absolute for stick somthing to some where*/
	position: absolute;
	top: 210px;
	left: 200px;
	height: 50px;
	width: 50px;
	z-index: -1;
}
/*three*/
.container3 ul li.active a .icon {
	color: red;
}
/*four*/
.container4 p {
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transform: translate(200px,10px) rotate(16deg) scale(.5, .5) scaleY(2) scaleX(2) skew(20deg, 5deg) matrix(1, -.05, .2, 1, 0, 0) ; /* Standard syntax */
  /*-ms-transform: translate(10px,10px); /* IE 9 */
}
/*five*/
.container5 ul li a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	color: #333;
	font-width: 500;
}

.container5 ul li a .title {
	position: absolute;
	top: -7px;
	left: 20px;
	transform: translate(-50%,1%);
	font-size: 18px;
	background-color: #fff;
	width: auto;
	padding: 5px 10px ;
	border-radius: 15px;
	box-shadow: 0 15px 25px rgba(0,0,0,.3);
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}

.container5 ul li:hover a .title {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%,50%);
}

/*six*/
.container6 p::before {
	content:'Read this -';
}

.container6 h4::before {
	content:' ';
	position: absolute;
	width: 30px;
	height: 30px;
	z-index: -1;
	border-radius: 50px;
	background-color: yellow;
}

.container6 h4::after {
	content:' ';
	position: absolute;
	width: 30px;
	height: 30px;
	z-index: -1;
	border-radius: 50px;
	background-color: yellow;
}


/* seven */

